.root
{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.MainBox
{
    width: 80%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 9%;
    margin-bottom: 10%;
}
.Button
{
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 3%;
}

.Calendarbox
{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
}


.Calendar
{
    width: 80%;
}

.Pnamebox
{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    margin-bottom: 3%;
}
